body {
    font-family: sans-serif;
  }
  
  h1 {
    color: black;
  }
  
  p {
    color: black;
  }
  
  .box {
    height: 300px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  /* THEMES */
  .dark {
    background-color: #2d2d2d;
      }
    
      .light {
    background-color: white;
      }
    
      .crazy {
    background: radial-gradient( green, purple);
    transform: skew(10deg, 20deg);
      }
    
      .dark p,
      .crazy p {
        color: white;
      }
    
       /* EFFECT */
       .color-transition {
        transition: all 2s ease-in-out;
       }